@page "/fetchdata"

@using ClientLibrary.Models
@using ClientLibrary.Services
@using ClippyMAUI.Data
@using SampleRazorLibrary
@inject HTTPClientService _httpService

<h1>Magical Site</h1>
    <LuckyCardComponent
		GetNewQuote="GetMessageAsync" 
		MessageToDisplay="@_message">
	</LuckyCardComponent>    



@code {
	private string _message;

	protected override void OnInitialized()
	{
		_message = "Hello MAUI Fest";
	}

	private async Task GetMessageAsync(bool randy = false)
	{
		APIResultModel aPIResultModel = await 
		_httpService.CallGenericAsync(AppConstants.HOMESITE
			+ "/api/Clippy", "", "", HttpMethod.Get);
		if(aPIResultModel.Success)
		{
			_message = aPIResultModel.Message;
			FileService.WriteToFile("C:\\Users\\igalf\\Git\\mauisample.txt", _message);
		}
		else
		{
			_message = "Error contacting server";
		}
	}
}
